@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 375px;
  max-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  margin-bottom: 25px;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.main-index, .main-inner {
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.page-header {
  padding: 0 70px;
  background-color: #fff;
  margin-bottom: -10px;
}

.navigation {
  display: flex;
}

.navigation__list, .advantages__list, .footer__social-list, .breadcrumbs, .catalog-filter__list, .product-list, .pagination {
  list-style-type: none;
  padding-inline-start: 0;
}

.navigation__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation__list:last-child{
  margin-left: auto;
}

.navigation__user .navigation__link {
  padding: 19px 0 18px 0;
  min-width: 20px;
  min-height: 20px;

}

.navigation__user .navigation__item:last-child {
  margin-left: 20px;
}

.navigation__logo-link {
  width: 140px;
  margin-right: 28px;
  z-index: 99999;
}

.navigation__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding: 20px 0 18px 0;
  display: block;
  border-bottom: 2px solid #fff;
  transition: all .2s ease-in-out;
}

.navigation__link--active-tab {
  border-bottom: 2px solid #756157;
}

.navigation__item {
  padding: 0 16px;
}

.navigation__user .navigation__item {
  padding: 0 12px;
}


.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  transition: all .2s ease-in-out;
  display: inline-block;
  cursor: pointer;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button--primary {
  color: #fff;
  background-color: #756157;
}

.button--secondary {
  color: #fff;
  background-color: #83B3D3;
}

.button--tertiary {
  color: #fff;
  background-color: transparent;
  border: 3px solid transparent;
  padding: 5px 5px;
}


.button--navigation {
  margin-top: 14px;
  width: 160px;

}

.button--search-hotels {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 376px;
  }

.button--popup-submit {
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 18px 18px;
}

.catalog-filter__button-container {
  padding-top: 56px;
}

.button--catalog-filter-submit {
  display: block;
  margin-bottom: 24px;
  width: 191px;
}

.button--catalog-filter-reset {
  border-radius: 4px;
  display: block;
  width: 191px;
}

.intro_title, .search-hotels__title, .search-hotels__popup-title, .count-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels__popup-title {
  margin-bottom: 64px;
}

.intro__subtitle, .search-hotels__description {
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.search-hotels__description, .subscribe__text {
  margin-bottom: 54px;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.subscribe__text {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}

.inner-subscribe .subscribe__title {
  color: #000;
}

.inner-subscribe .subscribe__text {
  color: #333;
}

.inner-subscribe input {
  background-color: #F2F2F2;
}

.advantages__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.advantages__title::after {
  content: '';
  width: 60px;
  height: 2px;
  background:  rgba(0, 0, 0, 0.3);
  bottom: -30px;
  left: 85px;
  position: absolute;
}

.advantages__list--conditions .advantages__title {
  margin-bottom: 30px;
}

.advantages__list--conditions .advantages__title::after {
  width: 0;
}

.advantages__item--dark .advantages__title::after {
  background:  rgba(255, 255, 255, 0.3);
}

.advantages__text {
  color: #333;
}

.advantages__item--dark {
  background-color: #82B3D3!important;
}

.advantages__item--dark .advantages__title, .advantages__item--dark .advantages__text {
  color: #fff;
}

.advantages__item--light {
  background-color: #fff!important;
}

.popup__input-number-container {
  display: grid;
  grid-template-columns: 137px 1fr;
  row-gap: 4px;
  margin-bottom: 23px;
  align-items: center;
}

.popup-allow, .popup-error {
  grid-column: 2/2;
}

.popup__input-number {
  padding: 12px 20px;
  background: #F2F2F2;
  border-radius: 4px;
  border-style: none;
  outline-offset: 0;
  outline: none;
}

.popup__input-amount-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.popup__amount-row {
  display: flex;
  align-items: center;
}

.popup__amount-row input {
  width: 110px;
  padding: 14px 10px;
  background: #F2F2F2;
  border-radius: 4px;
  border-style: none;
  outline-offset: 0;
  outline: none;
  box-sizing: border-box;
}

.popup__amount-row label {
  margin-right: 46px;
}


.popup-form label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.popup-form input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.popup-error {
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.popup-allow {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.tooltip-img {
  cursor: pointer;
  vertical-align: bottom;
}

.tooltip-hidden-text {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #333333;
  display: none;
}

.inner-header {
  padding:35px 70px 70px 70px;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px 0;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
  font-size:16px;
  line-height: 21px;
  transition: all .2s ease-in-out;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter__item input {
  font-size: 18px;
  line-height: 23px;
}

.price-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.catalog-filter__cost {
  color: #333;
  padding: 12px;
  background: #fff;
  display: inline-block;
}

.select-control {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  padding: 14px 20px;
  border-radius: 4px;
  background: #E6F0F6;
  border: 2px solid #E5E5E5;
  cursor: pointer;
}

.product-card__link {
  text-decoration: none;
  color: inherit;
  display: block;
  grid-column: 2/4;
  grid-row: 1/1;
}

.product-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card__type, .product-card__price, .product-card__rating {
  color: #333333;
}

.product-card__type {
  grid-row: 2/2;
  grid-column: 2/2;
}

.product-card__price {
  grid-column: 3/3;
  justify-self: end;
  grid-row: 2/2;
}

.product-card__button--primary {
  grid-column: 2/2;
  grid-row: 3/3;
  box-sizing: border-box;
}

.product-card__button--secondary {
  grid-column: 3/3;
  justify-self: end;
  grid-row: 3/3;
}

.product-card__stars {
  grid-column: 2/2;
  grid-row: 4/4;
}

.product-card-button__rating {
  color: #333;
  background: #fff;
  font-weight: 400;
  grid-column: 3/3;
  justify-self: end;
  grid-row: 4/4;
  cursor: auto;
}

.product-card__button {
  box-sizing: border-box;
  width: 140px;
}

.product-card__button--primary {
  background-color: #756157;
}

.product-card__button--secondary {
  background-color: #82B3D3;
}

.product-card__button--secondary-favorite {
  background-color: #7DB54F;
}

.product-card-button__rating {
  color: #333;
  background: #fff;
  font-weight: 400;
}

.pagination__link {
  color: #fff;
  width: 60px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  background-color: #82B3D3;
  text-align: center;
  padding: 20px 0;
}

.pagination__link--current {
  color: #000;
  background-color: #fff;
}

.button--subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 232px;
  }

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__form input {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  width: 452px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: inline-block;
  padding: 12px 20px;
  background: #fff;
  border-color: #fff;
  border-style: none;
  outline-offset: 0;
  outline: none;
}

.inner-subscribe input {
  background: #F2F2F2;
  border-color: #F2F2F2;
}

.footer__hotline {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-in-out;
}

.footer__button svg {
  vertical-align: middle;
}

.hero {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/background/hero_banner_1200x485.jpg");
  background-size: cover;
  background-position: center center;
}

.hero__divider {
  background: url("../images/index/divider.png") no-repeat bottom center;
  text-align: center;
}

.hero__image {
  margin: 51px 0 78px 0;

}

.intro {
  text-align: center;
  padding: 69px 0 90px 0;
  background-color: #fff;

}

.advantages {
  background-color: #fff;
}

.subscribe {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/background/subscribe_bg_1200x415.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 96px 0 104px 0;
}

.inner-header {
  color: #fff;
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/background/catalog_banner_1200x412.jpg");
  background-size: cover;
  background-position: center center;
}

.advantages__list--conditions .advantages__item:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.advantages__item--house:before {
  background-image: url("../images/icons/icon_house.svg");
}

.advantages__item--food:before {
  background-image: url("../images/icons/icon_food.svg");
}

.advantages__item--souvenir:before {
  background-image: url("../images/icons/icon_souvenir.svg");
}

.advantages__item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.catalog-products {
  background-color: #E6F0F6;
  padding: 50px 70px 60px 70px;
}

.advantages__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.breadcrumbs__item svg {
 vertical-align: middle;
}

.breadcrumbs__item:not(:last-child):after {
  content: '';
  background-image: url("../images/icons/icon_arrow.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 11px;
  margin-left: 10px;
  margin-right: 10px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages__item {
  width: 33.333333%;
  text-align: center;
}

.advantages__item--large {
  width: 100%;
  display: flex;
}

.advantages__list--conditions .advantages__item {
  box-sizing: border-box;
  padding: 80px 85px;
}

.search-hotels {
  text-align: center;
  padding: 96px 0;
  background-color: #fff;
}

.footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}

.footer__social-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.footer__social-item {
  min-width: 47px;
  min-height: 20px;
  text-align: center;
}

.catalog-filter {
  display: flex;
}

.catalog-products__filter {
  display: grid;
  align-items: center;
  margin-bottom: 40px;
  grid-template-columns: 1fr 292px 160px;
  column-gap: 70px;
}

.catalog-products__button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;

}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 19px 150px 150px 19px;
  grid-template-rows: 1fr 21px 36px 37px;
  row-gap: 16px;
  padding: 19px 0;
}

.product-card__image {
  margin-bottom: 16px;
  object-fit: cover;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination__item {
  margin-right: 8px;
}

.inner-subscribe {
  text-align: center;
  padding: 96px 0 104px 0;
  background-color: #fff;
}

.search-hotels__popup-form {
  width: 717px;
  margin: 0 auto;
  text-align: left;
  padding: 64px 70px;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 64px;
  right: 70px;
  cursor: pointer;
}

.advantages__content {
  padding: 92px 85px;
}

.advantages__item--reverse {
  flex-direction: row-reverse;
}

.catalog-filter__group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter__group:nth-child(1) {
  margin-right: 70px;
}

.catalog-filter__group:nth-child(3) {
  margin-left: auto;
  margin-right: 70px;
}

.catalog-products__button {
  display: flex;
  box-sizing: border-box;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.catalog-products__button--active {
  border: 2px solid #000000;
}

.catalog-filter__list {
  margin: 0;
}

.navigation__link:hover {
  border-bottom: 2px solid #756157
}

.button--primary:hover {
  background-color: #615048;
}

.button--primary:focus-visible {
  background-color: #615048;
  outline-offset: 0;
  outline: none;
}

.button--primary:active, .button--secondary:active, .button--tertiary:active, .pagination__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--primary:disabled, .button--secondary:disabled {
  background: #E5E5E5;
}

.button--secondary:hover, .pagination__link:hover {
  background-color: #68A2CA;
}

.button--secondary:focus-visible, .pagination__link:focus-visible {
  background-color: #68A2CA;
  outline-offset: 0;
  outline: none;
}

.button--tertiary:hover, .breadcrumbs__link:hover {
  opacity: 0.6;
}

.button--tertiary:focus-visible {
  border: 3px solid #68A2CA;
  outline-offset: 0;
  outline: none;
}

.button--tertiary:disabled {
  opacity: 0.1;
}

.product-card__button--secondary-favorite:hover {
  background-color: #6C9E42;
}

.product-card__button--secondary-favorite:focus-visible {
  background-color: #68A2CA;
  outline-offset: 0;
  outline: none;
}

.pagination__link--current:hover, .pagination__link--current:active, .pagination__link--current:focus-visible {
  color: #000;
  background-color: #fff;
}

.footer__social-icon {
  fill: #83B3D3;
  transition: all .2s ease-in-out;
}

.footer__social-icon:hover {
  fill: #68A2CA;
}

.footer__button:focus-visible {
  outline-offset: 0;
  outline: none;
}

.footer__button:focus-visible .footer__social-icon {
  fill: #68A2CA;
}

.footer__hotline:hover, .footer__hotline:focus-visible {
  color: #756157;
  outline-offset: 0;
  outline: none;
}

.footer__hotline:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer__logo {
  fill: #000;
  transition: all .2s ease-in-out;
}

.footer__logo:hover, .footer__logo:focus-visible {
  fill: #756157;
  outline-offset: 0;
  outline: none;
}

.footer__logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-products__button:hover, .catalog-products__button:active {
  border: 2px solid #000000;
}

.catalog-products__button:focus-visible {
  outline-offset: 0;
  outline: none;
  border: 2px solid #82B3D3;
}

.close-icon {
  fill: #F2F2F2;
  transition: all .2s ease-in-out;
}

.close-icon:hover {
  fill: #e6e6e6;
}

.close-icon path {
  fill: #000;
  transition: all .2s ease-in-out;
}

.close-icon:active path {
  fill: #a1a1a1;
}

